/* ------------------------------
   Base reset & sensible defaults
---------------------------------*/
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; }

html {
  color-scheme: light dark;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  color: var(--text);
  background: var(--bg);
  min-width: 320px;
  min-height: 100vh;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ------------------------------
   Typography
---------------------------------*/
h1 { font-size: var(--fs-1); line-height: 1.1; font-weight: 700; }
h2, h4, h5, h6 { font-size: var(--fs-2); font-weight: 700; }
h3 { font-size: var(--fs-3); font-family: var(--font-display); font-weight: 700; }

p, li, button, input, textarea { font-weight: 400; }

/* ------------------------------
   Links
---------------------------------*/
a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #3b3b3b;
}

/* ------------------------------
   Buttons
---------------------------------*/
button {
  font: inherit;
  font-weight: 500;
  padding: 0.6em 1.2em;
  border-radius: var(--radius);
  border: 1px solid transparent;
  background: var(--btn-bg);
  cursor: pointer;
  transition: border-color .25s ease;
}
button:hover { border-color: var(--brand); }
button:focus,
button:focus-visible {
  outline: 4px auto var(--focus-outline);
  outline-offset: 2px;
}
