.inf-form {
  background-image: url("./images/fruits.png");
  background-position: center center;
  background-size: cover;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-wrapper{
  background-color: #FFE27C;
  width: 90%;
  border-radius: 10px;
  padding: 0.5em 2em;
  height: 130px;
  margin: 0 auto;

  font-size: 10px;
}

.newsletter-title{
  text-align: center;
}

.newsletter-inputs{
  display: flex;
  flex-direction: row;
  margin: 3px auto;
}

.email-input{
  width: 213px;
  height: 25px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.inf-submit input[type="submit"]{
  width: 54px;
  height: 25px;
  font-size: 10px;
  color: #000;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-left: 3px;
}



