.article-title-container {
	text-align: center;
	margin: 3em auto;
}

.article-title {
	margin: 0;
	padding: 0;
}

.article-subtitle {
	margin: 0;
	padding: 0;
}


@media (min-width: 1024px){
	.article-title{
		font-size: 2em;
	}

	.article-subtitle{
		font-size: 1.4em;
	}
}
