.container{
  padding: 1em;
  height: 183px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media(min-width: 1024px){
  .container{
    height: 300px;
  }
}
