.container{
  padding: 0em 2em 1em;
  min-height: 50vh;
  text-align: justify;
}

.container > p {
  margin-bottom: 1em;
}

.container > h2 {
  margin-bottom: 0.75em;
	font-family: "Suez One", sans-serif;
  font-size: 1.5em;
  text-align: left;
}


@media (min-width: 1024px) {
  .container{
    padding: 0em 20em 1em;
  }
}
