.header {
	background-image: url("/images/waterfallLaos.png");
	height: 701px;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: left;
	position: relative;
  padding: 1em;
}

.centralText {
	font-family: "Rubik", sans-serif;
	font-size: 45px;
  text-align: center;
  font-weight: 900;
	width: calc(100% - 10px);
  letter-spacing: 0;
	color: #f6d85f;
	position: absolute;
	top: 195px;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6); /* drop shadow propre */
  overflow-wrap: break-word; 
}

.centralLink a {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
}

.centralLink svg {
	margin-left: 5px;
	color: inherit;
}

@media (min-width: 1024px) {
	.centralText {
		font-size: 80px;
	}
}
