.lastArticleTitleBox {
  position: relative;
  margin: -40px auto 0 auto;
  padding: 0.4em 1em;
	width: 220px;
	height: 78px;
	background-color: #f6d85f;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
  z-index: 10;
}

.lastArticleTitle {
  text-align: center;
	width: 100%;
}

.lastArticleContainer {
	margin-top: 50px;
}

@media (min-width: 1024px) {
	.lastArticleTitleBox {
		width: 300px;
		height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	.lastArticleContainer {
		display: flex;
		justify-content: center;
	}
}
