.header {
	background-image: url('assets/waterfallLaos.png');
	height: 701px;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.top-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 10px;
}

.brand {
	font-size: 15px;
	color: white;
}

.search-bar {
	font-size: 8px;
	height: 15px;
	width: 97px;
	padding: 0 8px;
	border-radius: 50px;
	border: 1px solid white;
	background-color: transparent;
	color: white;

	::placeholder {
		color: white;
		opacity: 1;
	}
}

.search-bar:focus {
	outline: none;
	background-color: rgba(255, 255, 255, 0.1);
	opacity: 1;

	::placeholder {
		color: white;
		opacity: 0.3;
	}
}

.central-text {
	font-size: 50px;
	color: #F6D85F;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	position: absolute;
	top: 195px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Suez One', serif;
	width: calc(100% - 76px);
	text-align: center;
}

.central-link a {
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white; 
	text-decoration: none; 
}

.central-link svg {
	margin-left: 5px;
	color: inherit; 
}

